<div class="col-xs-12">
		<div class="item">
			<a class="btn btn-success" ng-click="requestView(4);"  href="#">Play Now</a>
		</div>
		<div class="item">
			<a class="btn btn-danger" ng-click="requestView(0);"  href="#">Log In Menu</a>
		</div>
		
		<div class="item">
			<a class="btn btn-primary" ng-click="requestView(1);"  href="#">Main Menu</a>
		</div>
		<div class="item">
			<a class="btn btn-primary" ng-click="requestView(2);"  href="#">Tank Manager</a>
		</div>
		<div class="item">
			<button class="btn " href="#" disabled>Friends</button>
		</div>
</div>