<div id="arena">
	<div id="arena-header">
		<div class="col-xs-12 text-center">
			<button id="arena-back-button" class="btn btn-primary"><i class="fa fa-bars" aria-hidden="true"></i> Main Menu</button>
		</div>
	</div>
	<div id = "arena-page">
		<canvas id="game-layer" width="1008" height="567" tabindex='1'></canvas>
		<canvas id="bg-layer" width="1008" height="567"></canvas>
	</div>
	<div id="arena-footer">
		<div class="col-xs-12 text-center">
			<button id="logout-button" class="btn btn-danger"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Logout</button>
		</div>
	</div>
</div>
<script>
$('#arena-back-button').click(function(){ viewmngr.setView(VIEWS.MAIN_MENU); });
$('#logout-button').click(function(){ viewmngr.setView(VIEWS.LOGIN); });
</script>