<div id = "login-page" class="text-center">
			<div id="headerLogo">
				<a href="/">
					<img src = "public/img/logo.png">
				</a>
			</div>
			<div id="registerForm" class="collapse">
				<h3 class="camo">Registration</h3>
				<form action="/players" method="POST">
					<input type="text" placeholder="Username" name="username"><br>
					<input type="password" placeholder="Password" name="password"><br>
					<input type="password" placeholder="Confirm Password" name="password_confirm"><br><br>
					<div class="col-xs-12 registerToggle">
						<input type="submit" value = "Sign Up" id="view-arena-page" class="btn btn-success btn-transparent view-arena-page">
					</div>
					<br><br><span><a href="#loginForm" data-toggle="collapse" aria-expanded="false" aria-controls="loginForm" >Already have an account? Sign in!</a></span>
				</form>
			<br>
			</div>
			<div id="loginForm" class="collapse show">
				<h3 class="camo">Login</h3>
				<form action="/players" method="GET">
					<input type="text" placeholder="Username" name="username"><br><br>
					<input type="password" placeholder="Password" name="password"><br><br>
					<div class="col-xs-12 registerToggle">
						<input type="submit" value = "Sign In" id="view-arena-page" class="btn btn-success btn-transparent view-arena-page">
					</div>
					<br><br><span><a href="#registerForm" data-toggle="collapse" aria-expanded="false" aria-controls="registerForm" >No account? Sign up!</a></span>
				</form>
				<br>
				
			</div>
		</div>
		
		<script>
		$('#loginForm').on('show.bs.collapse', function () {
			$('#registerForm').collapse('hide');
		});
		$('#registerForm').on('show.bs.collapse', function () {
			$('#loginForm').collapse('hide');
		});
		$('.view-arena-page').click(function () {
			viewmngr.setView(VIEWS.MAIN_MENU);
		});
		</script>