<style>
#Viewport{
    background: rgba(0,0,0,0.5);
    background-size: cover;
    height: 100vh;
}
</style>
<div id = "main-menu" class="text-center">
	<div id="headerLogo">
		<a href="/">
			<img src = "public/img/logo.png">
		</a>
	</div>
	<div class="col-xs-12 headerText">
			<div class="title-arch">Welcome PLAYER!</div>
	</div>
	
	<div class="container-fluid main">
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 project wow animated animated4 fadeInLeft">
			<h3>Tank Garage</h3>
			<div class="project-hover">
				<h2>Manage Tanks</h2>
				
				<hr />
				<p>View, Edit, and Upgrade your tAInks here!</p>
				<a href="#">Manage Tanks</a>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 project project-2 wow animated animated3 fadeInLeft">
			<h3>Local Play</h3>
			<div class="project-hover">
				<h2>Play Local</h2>
				<hr />
				<p>Play locally to train your tAInks or try and kill them!</p>
				<a href="#">Play Local</a>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 project project-3 wow animated animated2 fadeInLeft">
			<h3>Online Play</h3>
			<div class="project-hover">
				<h2>Play Online</h2>
				<hr />
				<p>Play online against other tAInks!</p>
				<a href="#">Play Online</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="container-fluid footer">
		<button onclick="viewmngr.setView(VIEWS.LOGIN);" class="btn btn-danger">Log Out</button>
	</div>
</div>
		
		<script>
		$('#view-arena-page').click(function () {
			viewmngr.setView(VIEWS.ARENA);
		});
		</script>