/*
 * Front-End Styling for Main Page
 *
 * Authors:
 *	@author Cedric Debelle
 *	@author Calvin Ellis
 */

body {
  background-color: ivory;
} 

#battleCanvas{
	border: 1px solid #000000;
}	

#html-canvas{
	overflow:auto
}