/*
 * Front-End Styling for Main Page
 *
 * Authors:
 *	@author Cedric Debelle
 *	@author Calvin Ellis
 */
$main-menu-bg-color: rgba(48, 106, 178, 0.8);

body {
  background-color: gray;
  background-image: url('./img/bg/login-bg-black.png');
  background-size: cover;
  background-repeat-y: no-repeat;
  /* remove :focus outline from all elements */
   *:focus {
   outline: 0;
 }
}

.row {
	margin-left: 0;
	margin-right: 0;
}

#headerLogo img{
	margin-bottom: 20px;
	width: 500px;
}

#arena{
	margin-top: 10px;
}
#arena-page{
    width: 600px;
    height: 400px;
	position: relative;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 40px;
}

canvas {
	left: 0px;
	position: absolute;
	border: solid 1px black;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	border-radius: 10px;
}

#game-layer{
	z-index: 2;
	overflow: hidden;
}

#bg-layer{
	z-index: 1;
	background: url('./img/dirt.png');
}

.registerToggle{
	padding-bottom: 10px;
}

#registerForm, #loginForm{
	padding: 10px;
	background: rgba(255,255,255,0.8);
	border-radius: 40px;
	border: 1px solid rgba(0,0,0,0.6);;
	max-width: 500px;
	margin: auto;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	a{
		color: black;
	}
}

#main-menu{
	.main{
		padding-right: 0px;
		padding-left: 0px;
	}
	.title-arch {
		text-align: center;
		margin-top: 50px;
		font-size: 22px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: white;
		background-color: $main-menu-bg-color;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
		padding: 10px;
		//border-bottom: 1px solid white;
	}
	.project {
		width: 100%;
		height: 500px;
		background-image: url(./img/bg/0009.png);
		background-size: cover;
		background-position: center;
		padding: 0 !important;
		float:left;

		h3 {
			color: white;
			background-color: $main-menu-bg-color;
			padding: 5px 15px;
			margin-bottom: 0px;
			position: absolute;
			width: 100%;
			bottom: 0px;
		}

		&:hover{
			h3{
				display: none;
			}
		}
	}


	.project-2 {
		background-image: url(./img/bg/0004.png);
	}

	.project-3 {
		background-image: url(./img/bg/0008.png);
	}

	.project-4 {
		background-image: url(https://image.freepik.com/free-vector/abstract-geometric-background-design_1045-764.jpg);
	}

	.project-hover {
		width: 100%;
		height: 100%;
		color: #fff;
		opacity: 0;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		background-color: $main-menu-bg-color;
		padding: 25% 30px !important;

		hr {
			height: 30px;
			width: 0;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
			background-color: rgba(255, 255, 255, 1);
			border: 0;
		}

		a {
			color: rgba(255, 255, 255, 1);
			padding: 5px 22px;
			line-height: 40px;
			border: 2px solid rgba(255, 255, 255, 1);
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;

			&:hover {
				border-color: rgb(48, 106, 178);
				color: rgb(48, 106, 178);
				background-color: #FFF;
			}
		}
	}

	.project:hover .project-hover {
		opacity: 1;
	}

	.project:hover .project-hover hr {
		width: 100%;
		height: 5px;
	}

	.main{
		margin-bottom: 20px;
	}
}

.btn{
	color: white !important;  /* Fallback: assume this color ON TOP of image */
	cursor: pointer;
	border-width: 2px !important;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 4px 4px 13px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 13px -1px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 13px -1px rgba(0,0,0,0.75);

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	&:hover {
		border-color: white !important;
	}
}

.btn-transparent{
	font-weight: 900 !important;
	background-clip: text;
	-webkit-background-clip: text;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	&:hover{
		background-clip: initial;
		-webkit-background-clip: initial;

		h1.camo,
		h2.camo,
		h3.camo,
		h4.camo,
		h5.camo {
			background-clip: initial;
			text-fill-color: initial;
			-webkit-background-clip: initial;
			-webkit-text-fill-color: initial;
			background-image: none;
		}
	}
}


h1.camo,
h2.camo,
h3.camo,
h4.camo,
h5.camo {
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: url(./img/bg/0011.jpg);
	font-weight: 900 !important;
	text-shadow: 0px 0px 6px rgba(255,255, 255,0.2);

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#loginForm,
#registerForm {
	input {
		border-radius: 4px;
	}

}

#tank-select-wrapper-template{
	display: none;
}


/* Tank menu styling */
.tank-select-wrapper{
	.pr-12 {
		padding-right: 12px !important;
	}

	.mb-20 {
		margin-bottom: 20px !important;
	}

	.b-1 {
		border: 1px solid #ebebeb !important;
	}

	.card {
		border: 0;
		border-radius: 0;
		margin-bottom: 30px;
		-webkit-transition: .5s;
		transition: .5s;
	}

	.card {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0,0,0,.125);
		border-radius: .25rem;
	}

	.media {
		padding: 16px 12px;
		-webkit-transition: background-color .2s linear;
		transition: background-color .2s linear;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.card-body {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 1.25rem;
	}

	.media .avatar {
		flex-shrink: 0;
	}

	.no-radius {
		border-radius: 0 !important;
	}

	.avatar-xl {
		width: 64px;
		height: 64px;
		line-height: 64px;
		font-size: 1.25rem;
	}

	.avatar {
		position: relative;
		display: inline-block;
		width: 66px;
		height: 66px;
		line-height: 36px;
		text-align: center;
		border-radius: 100%;
		background-color: #f5f6f7;
		color: #8b95a5;
		text-transform: uppercase;
		margin-top: 20px;
	}

	img {
		max-width: 100%;
		vertical-align: middle;
		border-style: none;
	}

	.mb-2 {
		margin-bottom: .5rem!important;
	}

	.fs-20 {
		font-size: 20px !important;
	}

	.pr-16 {
		padding-right: 16px !important;
	}

	.ls-1 {
		letter-spacing: 1px !important;
	}

	.fw-300 {
		font-weight: 300 !important;
	}

	.fs-16 {
		font-size: 16px !important;
	}

	.media-body>* {
		margin-bottom: 0;
	}

	small, time, .small {
		font-family: Roboto,sans-serif;
		font-weight: 400;
		font-size: 11px;
		color: #8b95a5;
	}

	.fs-14 {
		font-size: 14px !important;
	}

	.mb-12 {
		margin-bottom: 12px !important;
	}

	.text-fade {
		color: rgba(77,82,89,0.7) !important;
	}

	.card-footer:last-child {
		border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
	}

	.card-footer {
		background-color: #fcfdfe;
		border-top: 1px solid rgba(77,82,89,0.07);
		color: #5c626d;
		padding: 10px 20px;
	}

	.flexbox {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}

	.align-items-center {
		-ms-flex-align: center!important;
		align-items: center!important;
	}

	.card-footer {
		background-color: #e6e6e6;
		border-top: 1px solid rgba(77, 82, 89, 0.07);
		color: #8b95a5;
		padding: 10px 20px
	}

	.card-footer>*:last-child {
		margin-bottom: 0
	}

	.hover-shadow {
		-webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.11);
		box-shadow: 0 0 35px rgba(0, 0, 0, 0.11)
	}

	.fs-10 {
		font-size: 10px !important;
	}
	h5 span {
		font-family: Roboto,sans-serif;
		font-weight: 400;
		//font-size: 11px;
		color: #000000;
	}
	h5 a {
		color: #8b95a5;
	}
	
	.fa-tachometer{
		color: rgba(45, 45, 239, 0.7);
	}
	
	.fa-heart{
		color: rgba(247, 46, 67, 0.7);
	}
	.tank-comps{
	
		
	}
	
	
}                           
