/*
 * Front-End Styling for Main Page
 *
 * Authors:
 *	@author Cedric Debelle
 *	@author Calvin Ellis
 */

body {
  background-color: #D6BB9E;
  //background: url('./img/bg.jpeg');
  background-image: url('./img/login-bg.jpg');
  background-size: cover;
  background-repeat-y: no-repeat;
  
  /* remove :focus outline from all elements */
   *:focus {
   outline: 0;
 }
}
 
#headerLogo img{
	border-radius: 0px 0px 40px 40px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	margin-bottom: 20px;
}
  
#arena-page{
	//border: 1px solid #000000;
    width: 1344px;
    height: 756px;
	//overflow: auto;
	position: relative;
	margin-bottom: 20px;
	margin: auto;
}

canvas {
	left: 0px;
	position: absolute;
	border: solid 1px black;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	border-radius: 10px;
}

#game-layer{
	z-index: 2;
	overflow: hidden;
}

#bg-layer{
	z-index: 1;
	background: url('./img/dirt.png');
}

.registerToggle{
	padding-bottom: 10px;
}

#registerForm, #loginForm{
	padding: 10px;
	background: rgba(255,255,255,0.8);
	border-radius: 40px;
	border: 1px solid rgba(0,0,0,0.6);;
	max-width: 500px;
	margin: auto;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	a{
		color: black;
	}
}
